@import 'main.css';
.content1{
    text-align: center;
    padding: 50px 0px 20px 0px;
    line-height: 40px;
    letter-spacing: 2px;
    h2{
        font-size: 48px;
        font-weight: 600;
    }
    p{
        font-size: 20px;
        font-weight: 500;
    }
}
.content2{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(255, 123, 28);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(200, 200, 200);
    font-size: 18px;
    margin-bottom: 25px;
    h3{
            font-weight: 700;
            text-align: center;
            padding-top: 20px;
        }
    div{
        padding: 10px;
        p{
            line-height: 25px;
            padding: 10px 0px;
        }
        form{
            i{
                margin-top: 10px;
            }
            input{
                margin: 10px 0px 0px 0px;
                padding: 7px 0px;
                width: 100%;
            }
            input:focus{
                border: 2px black solid;
            }
            a{
                color: rgb(255, 123, 28);
                font-size: 14px;
                padding: 5px 5px;
                text-decoration: none;
                display: block;
            }
            button{
                float: right;
                background-color: rgb(255, 123, 28);
                border: none;
                border-radius: 10px;
                color: white;
                padding: 5px 50px;
                margin: 10px 0px;
                cursor: pointer;
            }
            button:hover{
                background-color: #3D1101;
            }
        }
    }   
}
@media(min-width: 768px){
    .content2{
        div{
            width: 100%;
            display: flex;
            justify-content: space-around;
            p{
                // flex: 1;
                width: 40%;
            }
            form{
                // flex: 1;
                width: 40%;
            }
        }
    }
}